/* External Style Sheet */
body {
  font-family: Arial;
}

h1 {
  text-align: center;
}
h3 {
  text-align: center;
}

.row {
  display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.scatter {
  opacity: 50%;
}

.bar {
  opacity: 50%;
}

.selected {
  stroke-width: 2px;
  stroke: rgb(0, 0, 0);
  opacity: 1;
}